<div class="banner" style="background-image: url('https://hd.unsplash.com/photo-1470298670032-0b91e49306ed');">


  <div class="container content">
    <div class="row">
      <div class="col-md-3 md-margin-bottom-40"></div>

      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="reg-header">
          <p>Modifier votre profil</p>
        </div>
<br>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label: false,placeholder: 'Email' %>
          <%= f.input :first_name, required: true, autofocus: true, label: false,placeholder: 'Prénom' %>
          <%= f.input :last_name, required: true, autofocus: true, label: false,placeholder: 'Nom' %>
          <%= f.input :phone_number, required: true, autofocus: true, label: false,placeholder: 'N° de téléphone' %>
          <%= f.input :current_password, required: true, label: false,placeholder: 'Votre mot de passe' %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <br>
          <p> Modifier votre mot de passe </p>
          <%= f.input :password, autocomplete: "off", label: false,placeholder: 'Nouveau mot de passe', required: false %>
          <%= f.input :password_confirmation, required: false, label: false,placeholder: 'Confirmez mot de passe' %>

        </div>

        <div class="form-actions">
          <button class="btn-u pull-right" type="submit">Update</button>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
</div>




