<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Mon garage</h2>
      <%= @garage.name %>
      <br>
      <%= @garage.siret %>
      <br>
      <%= @garage.address %>
      <br>
      <%= @garage.city %>
      <br>
      <%= @garage.zip_code %>
      <br>
      <%= @garage.phone_number %>
    </div>
  </div>
</div>
<hr>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Mes entretiens enffectués</h2>
      <% @checkups.each do |checkup| %>
      <%= checkup.checkup_item.category %>
      <%= checkup.checkup_item.description %>
      <p>Pour le compte de Mr</p>
      <%= checkup.checkup_item.name %>
      <%= checkup.book.user.email %>
      <%= checkup.book.user.first_name %>
      <%= checkup.book.user.last_name %>
      <%= checkup.created_at %>
      <%= link_to "voir le carnet d'entretien", book_path(checkup.book) %>
      <br>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>
<hr>

<%= link_to 'Ajouter un client', edit_garage_path(@garage) %>



<h3>HELLO EST CE QUE CA WORK ?</h3>
<% if @find %>
<%= @find.user.email %>
<%= @find.user.last_name %>
<%= link_to "voir le carnet d'entretien", book_path(@find) %>
<% end %>
