

<div class="container content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="reg-header">
        <h2>Complétez votre profil</h2>
      </div>

      <%= simple_form_for @garage, url: garages_path do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, required: true, label: false,placeholder: 'Nom du garage' %>
      <%= f.input :siret, required: true, label: false,placeholder: 'N° de SIRET' %>
      <%= f.input :street, required: true, label: false,placeholder: 'Rue' %>
      <%= f.input :city, required: true, label: false,placeholder: 'Ville' %>
      <%= f.input :zip_code, required: true, label: false,placeholder: 'Code postal' %>
      <%= f.input :phone_number, required: true, label: false,placeholder: 'N° de téléphone' %>

      <div class="form-actions">
      <button class="btn-u btn-u-10 pull-right" type="submit">Continuez </button>
      </div>
      <% end %>

    </div>
  </div>
</div>
</div>
</div>


