<h1>Garages#show</h1>
<p>Find me in app/views/garages/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Mon garage</h2>
      <%= @garage.name %>
      <br>
      <%= @garage.siret %>
      <br>
      <%= @garage.address %>
      <br>
      <%= @garage.city %>
      <br>
      <%= @garage.zip_code %>
      <br>
      <%= @garage.phone_number %>
    </div>
  </div>
</div>
<hr>
