
<div class="wrapper">
  <!--=== Header Version 3 ===-->
  <div class="header header-v3">
    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="/">
                 <%= image_tag "logo9.png", {class: "logo-header"}%>

          </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <% if user_signed_in? %>

            <li class="dropdown active">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                MENU
              </a>
              <ul class="dropdown-menu">
               <li>
                <% if current_user.garagiste %>
                <%= link_to garages_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon Garage") %>
                <% end %>
                <% else %>
                <%= link_to books_path do %>
                <i class="fa fa-bar-chart"></i> <%= t(".profile", default: "Mon dashboard") %>
                <% end %>
                <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
                <% end %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
            <% else %>
            <!-- Login text link -->
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
            <% end %>
          </div>
        </div>
      </ul>
    </li>

  </ul>
</div><!--/navbar-collapse-->

