<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url('https://hd.unsplash.com/photo-1422976280096-9126a41f9e2a');">

  <div class="banner-content">
    <h1> Prenez du plaisir, </h1>
    <p>Reprenez votre voiture en main !</p>
    <a> <%= link_to "Ca m'intéresse !", user_session_path, class: "btn btn-neuf" %></a>

  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <h2>Un atout pour les conducteurs</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-10"></div>
  <div class="row margin-bottom-10">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je crée mes carnets d'entretien</h2>
        <%= image_tag "creation.png", {class: "card"}%>

        <p>Créez vos carnets d'entretien pour chacun de vos véhicules professionels et personnels.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'entretiens mieux mon véhicule </h2>
        <%= image_tag "jentretien.png", {class: "card"}%>
        <p>Nos garages partenaires complètent en temps réel vos carnets d'entretiens.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je revends et j'achète plus sereinement</h2>
        <%= image_tag "revend.png", {class: "card"}%>
        <p>Revendez votre véhicule en certifiant tous vos entretiens avec clef de 9.</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v9 box-shadow shadow-effect-2">
      <h2>Un atout pour les garages</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-20"></div>
  <div class="row margin-bottom-40">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'accède aux informations de mes clients</h2>
        <%= image_tag "gjaccede.png", {class: "card"}%>
        <p>Accédez aux entretiens des véhicules de vos clients.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md"> J'entretiens mieux son véhicule </h2>
        <%= image_tag "gjentretien3.png", {class: "card"}%>
        <p>Entretenez son véhicule en connaissant parfaitement son historique. </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Mes clients sont (hypers) satisfaits !</h2>
        <%= image_tag "gsatisfait.png", {class: "card"}%>
        <p>Certifiez vos entretiens en complétant le carnet d'entretien de vos clients.</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!-- Info Blokcs -->
  <div class="row margin-bottom-40">
    <!-- Welcome Block -->
    <div class="col-md-8 md-margin-bottom-40">
      <div class="headline"><h2>Des clients satisfaits !</h2></div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag "garagiste.jpg", {class: "card"}%>
        </div>
        <div class="col-sm-8">
          <p>Mettre à jour son carnet d'entretien relève souvent de la corvée. Pour éviter les oublis et contrôler ses dépenses, clef de neuf LA vraie solution.</p>
          <br>
          <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i> Meilleure gestion de votre budget</li>
            <li><i class="fa fa-check color-green"></i> Une meilleure visibilité de vos entretiens</li>
            <li><i class="fa fa-check color-green"></i> Des alertes pour votre prochain visite au garage</li>
            <li><i class="fa fa-check color-green"></i> Un esprit plus serein</li>
          </ul>
        </div>
        <div class="col-sm-12">

          <blockquote class="hero-unify">
            <p>Clef de neuf met à disposition des automobilistes un tableau de bord qui leur permet de suivre l'entretien de leur véhicule tout au long de l'année. Des reminders les alerte automatiquement de la prochaine visite chez le garagiste. Les internautes peuvent aussi gérer leur budget annuel d'entretien, en notant sur le site le montant de leur facture à chaque visite, et ainsi consulter l'historique de leurs dépenses.</p>
            <small>CEO, Guillaume Cochennec</small>
          </blockquote>
        </div><!--/col-md-8-->
      </div>
    </div>

    <!-- Posts -->
    <div class="col-md-4 posts">
      <div class="headline"><h3>La presse aussi</h3></div>
      <dl class="dl-horizontal">
        <dt><%= image_tag "feu-vert.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">"On attendez ça depuis longtemps. Un vrai plus pour les professionnels et les automobilistes"</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><%= image_tag "norauto.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">"Un petit pas pour internet, un grand pas pour les conducteurs, une révolution pour les garages !"</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><%= image_tag "autovision.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">"On en rêvait, ils l'ont fait. Fluide, pratique et intuitif, merci clef de neuf !"</a></p>
        </dd>
      </dl>
    </div>
  </div><!--/row-->
  <!-- End Info Blokcs -->

  <!-- Our Clients -->
  <div class="owl-carousel-style-v2">
    <div class="headline"><h2>Nos Garages partenaires</h2></div>

      <div id="map" style="width: 100%; height: 50vh;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap( { provider: { scrollwheel: false}, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

    <div class="owl-slider-v3">
      <div class="item">
       <%= image_tag "alfaromeo.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "audi.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "chevrolet.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "chrysler.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "citroen.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "dacia.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "fiat.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "hyundai.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "jaguar.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "landrover.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "mercedes.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "opel.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "peugeot.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "renault.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "toyota.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "volvo.gif", {class: "img-responsive"}%>
     </div>
     <div class="item">
       <%= image_tag "wolsvagen.gif", {class: "img-responsive"}%>
     </div>
   </div>
 </div>
 <!-- End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->
