<div class="banner" style="background-image: url('https://hd.unsplash.com/photo-1422976280096-9126a41f9e2a');">

  <div class="banner-content">
    <h1> Pourquoi bien entretenir mon véhicule ?</h1>
    <p>Pour mon portefeuille, pour l'environnement, et pour mes balades bucoliques...</p>
    <a> <%= link_to "Ca m'intéresse !", user_session_path, class: "btn btn-neuf" %></a>

  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <h2>Un atout pour les conducteurs</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-10"></div>
  <div class="row margin-bottom-10">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je crée mes carnets d'entretien</h2>
        <%= image_tag "creation.png", {class: "card"}%>

      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'entretiens mieux mon véhicule </h2>
        <%= image_tag "jentretien.png", {class: "card"}%>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je revends et j'achète plus sereinement</h2>
        <%= image_tag "revend.png", {class: "card"}%>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v9 box-shadow shadow-effect-2">
      <h2>Un atout pour les garages</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-20"></div>
  <div class="row margin-bottom-40">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'accède aux informations de mes clients</h2>
        <%= image_tag "gjaccede.png", {class: "card"}%>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md"> J'entretiens mieux son véhicule </h2>
        <%= image_tag "gjentretien3.png", {class: "card"}%>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Mes clients sont (hypers) satisfaits !</h2>
        <%= image_tag "gsatisfait.png", {class: "card"}%>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!-- Info Blokcs -->
  <div class="row margin-bottom-40">
    <!-- Welcome Block -->
    <div class="col-md-8 md-margin-bottom-40">
      <div class="headline"><h2>On parle de nous !</h2></div>
      <div class="row">
        <div class="col-sm-4">
        <%= image_tag "garagiste.jpg", {class: "card"}%>
        </div>
        <div class="col-sm-8">
          <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
          <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
          </ul>
        </div>
      </div>

      <blockquote class="hero-unify">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
        <small>CEO, Jack Bour</small>
      </blockquote>
    </div><!--/col-md-8-->

    <!-- Posts -->
    <div class="col-md-4 posts">
      <div class="headline"><h3>La presse aussi</h3></div>
      <dl class="dl-horizontal">
        <dt><%= image_tag "feu-vert.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><%= image_tag "norauto.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><%= image_tag "autovision.jpg", {class: "card"}%></a></dt>
        <dd>
          <p><a href="#">It works on all major web browsers, tablets and lorem sequat ipsum dolor.</a></p>
        </dd>
      </dl>
    </div>
  </div><!--/row-->
  <!-- End Info Blokcs -->

  <!-- Our Clients -->
  <div class="owl-carousel-style-v2">
    <div class="headline"><h2>Nos Clients</h2></div>
    <div class="owl-slider-v3">
      <div class="item">
     <%= image_tag "alfaromeo.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "audi.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "chevrolet.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "chrysler.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "citroen.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "dacia.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "fiat.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "hyundai.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "jaguar.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "landrover.gif", {class: "img-responsive"}%>
      </div>
      <div class="item">
     <%= image_tag "mercedes.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "opel.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "peugeot.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "renault.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "toyota.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "volvo.gif", {class: "img-responsive"}%>
      </div>
       <div class="item">
     <%= image_tag "wolsvagen.gif", {class: "img-responsive"}%>
      </div>
    </div>
  </div>
  <!-- End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->
