
<div class="col-xs-12 col-md-4 col-md-offset-4">

  <%= simple_form_for @book, url: books_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :registration_plate, required: true %>
  <%= f.input :initial_km, required: true %>
  <%= f.input :circulation_date, as: :date, start_year: Date.today.year - 25, end_year: Date.today.year - 0 %>

  <div class="form-actions">
    <%= f.button :submit, "Update!" %>
  </div>
  <% end %>

</div>
