<h1>Edit</h1>


<div class="col-xs-12 col-md-4 col-md-offset-4">

  <%= simple_form_for @book do |f| %>
  <%= f.error_notification %>

  <%= f.input :registration_plate, required: true %>
  <%= f.input :initial_km, required: true %>
  <%= f.input :initial_entry_into_service %>
  <%= f.input :circulation_date %>

  <div class="form-actions">
    <%= f.button :submit, "Update!" %>
    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
  </div>
  <% end %>
</div>


