<div class="container text-center">
  <h2>Mon dashboard </h2>
</div>
<hr>

<div class="container">
  <div class="row">
    <h3>Mon profil - <td><%= link_to 'Edit', edit_user_registration_path %></td></h3>
    <div class="col-xs-12 col-sm-3">
      <p><%= current_user.email %></p>
      <p><%= current_user.first_name %></p>
      <p><%= current_user.last_name %></p>
      <p><%= current_user.phone_number %></p>
    </div>
  </div>
</div>
<hr>


<hr>
<div class="container">
  <div class="row">
    <h3>Mes carnets d'entretien -
      <td><%= link_to "Ajouter un carnet d'entretien", new_book_path %></td></h3>
      <div class="col-xs-12 col-sm-3">
        <p><% @books.each do |book| %>
          <p>Registration : <%= book.registration_plate %></p>
          <p>Circulation date : <%= book.circulation_date %></p>
          <td><%= link_to 'Show', book %></td>
          <% if policy(book).edit? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <% end %>
          <% if policy(book).destroy? %>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </p>
        <%end%>
      </div>
    </div>
  </div>
</div>
