<div class="container">
  <div class="row">

<h2>Carnet d'entretien du véhicule <%= @book.registration_plate %>  </h2>
<p><%= link_to 'Retour sur mon dahsboard', books_path %></p>
    </div>
    </div>


<div class="container">
  <div class="row">
        <h3>Mon véhicule</h3>
    <div class="col-xs-12 col-sm-3">
      <p><%= @book.registration_plate %></p>
      <p><%= @book.circulation_date %></p>
      <p><%= @book.initial_km %></p>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
        <h3>Entretiens de mon véhicule</h3>
    <div class="col-xs-12 col-sm-3">
      <p><%= link_to 'Add a checkup', new_book_checkup_path(@book) %></p>
      <%@checkups.each do |checkup|%>
      <p> Entretien : <%= checkup.checkup_item.name %> -
      <%= checkup.km_ondate %> km -
      Effectué le <%= checkup.created_at.strftime("%F") %>
      <%= checkup.checkup_item.category %> </p>
      Effectué par :
      <% if checkup.garage %>
        <%= checkup.garage.name %>
        <img src="http://matchingtool.basic-check.ch/static/imgs/check-mark.svg", height="50", width="50">
      <% else %>
        <p>Le Propriétaire du véhicule </p>
        <img src="https://blog.mailchimp.com/wp-content/uploads/2014/05/Notcheck.png", height="50", width="50">
      <% end %>
      <br>
      <%end%>
    </div>
  </div>
</div>
<hr>




