
<div class="profile container">
  <div class="row content">
    <div class="col-md-12">
      <!--Profile Body-->
      <div class="profile-body">
        <!--Service Block v3-->
        <div class="row margin-bottom-10">
          <div class="col-sm-10 sm-margin-bottom-20">
            <div class="service-block-v3 servive-block-u">
              <i class="icon-users"></i>
              <span class="service-heading"></span>
              <span class="counter">Carnet d'entretien de <%= @book.name %> </span>

              <div class="clearfix margin-bottom-10"></div>

              <div class="row margin-bottom-20">
                <div class="col-xs-6 service-in">
                  <small>Mon véhicule</small>
                  <h4 class="counter">  </h4>
                  <h4 class="counter"> Immatriculation = <%= @book.registration_plate %></h4>
                  <small></small>
                  <h4 class="counter">  </h4>
                  <h4 class="counter"> Mise en circulation le <%= @book.circulation_date.strftime("%d/%m/%y") %></h4>
                  <small></small>

                  <h4 class="counter">  </h4>
                  <h4 class="counter"> Kilométrage initial = <%= @book.initial_km %>km</h4>
                </div>
                <div class="col-xs-6 text-left service-in">
                  <small> mes infos</small>
                  <h4 class="counter">  </h4>
                  <h4 class="counter"> <%= @book.name %> parcourt environ <%=(@book.average_km.to_i * 365).round%> km par an</h4>
                </div>
                <div class="col-xs-6 text-left service-in">
                  <small></small>
                  <h4 class="counter">   </h4>
                  <h4 class="counter"> <% if !current_user.garagiste %>
                   Clef véhicule = <%= @book.token %><% end %>
                 </h4>
               </div>
             </div>
           </div>
         </div>
       </div><!--/end row-->
     </div>
     <div class="clearfix margin-bottom-10"></div>


     <div class="col-sm-10 sm-margin-bottom-20">
       <div class="headline"><h2>Mes entretiens réalisés</div>
       <br>
       <div class="colorp"> <h3> <%= link_to 'Ajouter un entretien', new_book_checkup_path(@book), { :class=>"btn-u btn-u-9 pull-left" } %></h3> </div>
       <div class="table-search-v1 margin-bottom-20">
         <br>
         <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th class="hidden-sm">Entretien</th>
                <th> </th>
                <th> Effectué par </th>
                <th> Kilométrage </th>
                <th>Facture</th>
              </tr>
            </thead>
            <br>
            <tbody>
              <%@checkups.where.not(done: false, km_ondate: nil).reverse_each do |checkup|%>
              <tr>
                <td> <%= checkup.created_at.strftime("%d/%m/%y") %> </td>
                <td class="td-width"><%= checkup.checkup_item.name %></td>
                <% if checkup.garage %>
                <td><i class="fa fa-certificate" style="color: #3498DB;"></i> </td>
                <td><%=checkup.garage.name%> </td>
                <% else %>
                <td><i class="fa fa-user-md" style="color: #72C02C;"></i> </td>
                <td> Vous </td>
                <% end %>
              </td>
              <td>  <%= checkup.km_ondate %>km</td>
              <td> <a target="_blank" href="<%= cloudinary_url(checkup.facture) %>" >
              <p><i class="fa fa-list" style="color: #72C02C;"> </i>   Votre facture</p>
              </a></td>
              <td>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="profile container">
  <div class="row content">
    <div class="col-md-12">
      <!--Profile Body-->
      <div class="profile-body">
        <!--Service Block v3-->
        <div class="row margin-bottom-10">
          <div class="col-sm-10 sm-margin-bottom-20">
            <div class="headline"><h2>Mes entretiens à effectuer </div>
            <div class="table-search-v1 margin-bottom-20">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Type d'entretien    </th>
                      <th> </th>
                      <th> A effectuer le </th>
                      <th> Description     </th>
                    </tr>
                  </thead>
                  <br>
                  <tbody>
                    <% @book.checkups_first_to_do.each do |checkup| %>

                    <tr>
                      <% if checkup.checkup_item %>
                      <td><%= checkup.checkup_item.name %></td>
                      <td> <% if checkup.estimated_date_string.to_date >= Date.today %>
                        <i class="fa fa-check" style="color: #326C36;"></i>
                        <%else%>
                        <i class="fa fa-times" style="color: #ff0000;"></i>
                        <% end %></td>
                        <td> <%= checkup.estimated_date_string.to_date.strftime("%d/%m/%y")%></td>
                        <td><%= checkup.checkup_item.description %></td>
                        <% end %>
                      </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



