<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Mon véhicule</h2>
      <%= @book.registration_plate %>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Reminders</h2>
      <%@checkups.each do |checkup|%>
      <%= checkup.created_at %>
      <%= checkup.km_ondate %>
      <br>
      <%end%>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Carnets d'entretien / Books</h2>
      <p><% @books.each do |book| %>
        <%= book.registration_plate %>
        <td><%= link_to 'Show', book %></td>
        <% if policy(book).edit? %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <% end %>
        <% if policy(book).destroy? %>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </p>
      <%end%>
    </div>
  </div>
</div>
<hr>

